.Bug {
    color: #B1C12E;
}

.Dark {
    color: #4F3A2D;
}

.Dragon {
    color: #755EDF;
}

.Electric {
    color: #FCBC17;
}

.Fairy {
    color: #F4B1F4;
}

.Fighting {
    color: #823551;
}

.Fire {
    color: #E73B0C;
}

.Flying {
    color: #A3B3F7;
}

.Ghost {
    color: #6060B2;
}

.Grass {
    color: #74C236;
}

.Ground {
    color: #D3B357;
}

.Ice {
    color: #A3E7FD;
}

.Normal {
    color: #C8C4BC;
}

.Poison {
    color: #934594;
}

.Psychic {
    color: #ED4882;
}

.Rock {
    color: #B9A156;
}

.Steel {
    color: #B5B5C3;
}

.Water {
    color: #3295F6;
}
