.ui.label {
    color: black;
}

.ui.label.Bug {
    background-color: #B1C12E;
}

.ui.label.Dark {
    background-color: #4F3A2D;
    color: white
}

.ui.label.Dragon {
    background-color: #755EDF;
    color: white
}

.ui.label.Electric {
    background-color: #FCBC17;
}

.ui.label.Fairy {
    background-color: #F4B1F4;
}

.ui.label.Fighting {
    background-color: #823551;
    color: white
}

.ui.label.Fire {
    background-color: #E73B0C;
}

.ui.label.Flying {
    background-color: #A3B3F7;
}

.ui.label.Ghost {
    background-color: #6060B2;
    color: white
}

.ui.label.Grass {
    background-color: #74C236;
}

.ui.label.Ground {
    background-color: #D3B357;
}

.ui.label.Ice {
    background-color: #A3E7FD;
}

.ui.label.Normal {
    background-color: #C8C4BC;
}

.ui.label.Poison {
    background-color: #934594;
    color: white
}

.ui.label.Psychic {
    background-color: #ED4882;
}

.ui.label.Rock {
    background-color: #B9A156;
}

.ui.label.Steel {
    background-color: #B5B5C3;
}

.ui.label.Water {
    background-color: #3295F6;
}
